@using JX.Models
@model IEnumerable<Projects>
@{
    ViewBag.Title = "军师网————随便你怎么写！";
}

<h2>HomePage</h2>

@if(Model==null)
{
    <p>暂无作品！</p>
}
else
{
    <a href="/Home/HomePage">随便看看</a>
    foreach(var item in Model)
    {
        <a href="/Project/Detail">@item.ProjectName</a>
        <p>@item.ProjectTypes</p>
        <p>@item.ProjectStates.StateName</p>
        <p>@item.ProjectIntro</p>
        <br/>
    }
}