
@{
    ViewBag.Title = "ChangePasswordSuccess";
}
@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/changepsw.css" />
}
@section JS{
    <script type="text/javascript" src="~/myScripts/changepwd.js"></script>
}
<div class="user_content">
    <div class="sidebar">
        <p class="sidebar_title">个人书屋向导</p>
        <ul>
            <li><a href="/Account/ShowPersonInfo">个人信息</a></li>
            <li><a href="/Account/ShowChangePwd">修改密码</a></li>
            <li><a href="/Account/ShowAttendList">关注列表</a></li>
            <li><a href="/Account/ShowFansList">粉丝列表</a></li>
        </ul>
    </div>

    <div>
        <p>更改密码成功！下次登录请使用新密码登录。</p>
    </div>
</div>



