
@{
    ViewBag.Title = "ShowContactUs";
}

@section CSS{
    <link rel="stylesheet" type="text/css" href="~/Content/contactus.css" />
    }
@section JS{
    <script type="text/javascript" src="~/myScripts/contactus.js"></script>
    }

<div class="content">
    <p>如果您对我们的网站有什么好的建议以及反馈请告知我们，我们会酌情给您发放奖励。</p>
    <form class="jianyi" action="" method="">
        <textarea class="" id="jianyi" cols="60" rows="10" placeholder="请在这里写下你想对我们说的话"></textarea>
        <input type="submit" id="submit" value="提交">
    </form>
</div>